// Your variable overrides
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

#app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@import "~bootstrap/scss/bootstrap";
